.fav-modal {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.fav-modal-content {
    pointer-events: all;

    margin-top: 3vw;
    align-items: center;
    justify-items: center;
}

.fav-cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
}